// modal window  (body is the parent)

.orderButton {
    margin: 0;
    font-weight: 400px;
    border-radius: 20% 0 20% 0;
    z-index: 20;
    position: fixed;
    top: 0px;
}
.modal {
    position: fixed;
    width: 100vw;
    height: 80vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &.open {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
      z-index: 15;
    }
    &-bg {
      position: absolute;
      background: transparent;
      width: 80%;
      height: 100%;
    }
    &-container {
      background: $green;
      position: relative;
      padding: 100px 30px 30px 30px;
    }
    &-close {
      position: absolute;
      right: 32px;
      top: 68px;
      outline: none;
      appearance: none;
      color: $black;
      background-color: $yellow;
      border: 0px;
      font-weight: 400;
      cursor: pointer;
    }
  }
.modalForm form {
    background-color: $offBlack;
    fieldset {
        border:none;
        padding: 20px;
        input {
            color: $white;
            background-color: $offBlack;
            border: none;
            border-bottom: $yellow 2px solid;
            margin-bottom: 20px;
        }
        textarea {
            color: $white;
            background-color: $offBlack;
            height: 208px;
            width: 100%;
            border: $yellow solid 2px;
            resize: none;
            padding: 16px 0 0 24px;
        }
        input::placeholder {
            color: $white;
            background-color: $offBlack;
            font-size: 0.7rem;
            line-height: 0.9rem;
            letter-spacing: 1.3px; 
            padding-left: 5px;
        }
        textarea::placeholder  {
            color: $white;
            background-color: $offBlack;
            font-size: 0.7rem;
            line-height: 0.9rem;
            letter-spacing: 1.3px;
            -webkit-appearance: none;
        }
        input[type="text"],
        input[type="email"] {
            padding: 13px 68px 9px 24px;
        }
        input[type="text"] {
            margin-right: 19px;
        }
        input[type="text"],
        input[type="email"] {
            padding: 13px 68px 9px 24px;
        }
        input[type="text"] {
            margin-right: 19px;
        }
    }
    button {
        font-weight: 400;
        width: 100%;
        margin-top: 40px;
        }
}

// Contact page 
.contactForm form {
    background-color: $offBlack;
    border: none;
    width: 75%;
    height: 317%;
    padding-bottom: 90px;
    box-shadow: 27px 27px 0 -10px $yellow;
    position: absolute;
    top: -225px;
    fieldset {
        border: none;
        padding: 78px 50px 0 50px;
        input {
            color: $white;
            background-color: $offBlack;
            border: none;
            border-bottom: $yellow 2px solid;
            margin-bottom: 41px;
        }
        textarea {
            color: $white;
            background-color: $offBlack;
            height: 208px;
            width: 100%;
            border: $yellow solid 2px;
            resize: none;
            padding: 16px 0 0 24px;
            
        }
        input::placeholder {
            color: $white;
            background-color: $offBlack;
            font-size: 0.7rem;
            line-height: 0.9rem;
            letter-spacing: 1.3px; 
            padding-left: 5px;
        }
        textarea::placeholder  {
            color: $white;
            background-color: $offBlack;
            font-size: 0.7rem;
            line-height: 0.9rem;
            letter-spacing: 1.3px;
            -webkit-appearance: none;
        }
        input[type="text"],
        input[type="email"] {
            padding: 13px 68px 9px 24px;
        }
        input[type="text"] {
            margin-right: 19px;
        }
    }    
    button {
    font-weight: 400;
    width: 100%;
    margin-top: 40px;
    }
}   

// }   
// blog form //////////////////////////////////////////////////
.employContainer form {
    background-color: $green;
    border: none;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 100px;
    fieldset {
        border: none;
        padding: 59px 79px 0 79px;
        input {
            color: $white;
            background-color: $green;
            border: none;
            border-bottom: $yellow 2px solid;
            padding: 25px 0 0 24px;
            margin-bottom: 30px
        }
        textarea {
            color: $white;
            background-color: $green;
            height: 175px;
            width: 100%;
            border: $yellow solid 2px;
            resize: none;
            padding: 25px 0 0 22px;
        }
        input::placeholder {
            color: $white;
            opacity: 1;
            background-color: $green;
            font-size: 0.7rem;
            line-height: 0.9rem;
            letter-spacing: 1.3px; 
            padding-left: 5px;
        }
        textarea::placeholder  {
            color: $white;
            background-color: $green;
            font-size: 0.7rem;
            line-height: 0.9rem;
            letter-spacing: 1.3px;
        }
        input[type="text"] {
            padding: 13px 43px 15px 15px;
        }
        input[type="email"] {
            padding: 13px 57px 15px 15px;
        }
        input[type="text"] {
            margin-right: 38px;
        }
    }    
    button {
    width: 100%;
    margin-top: 40px;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.25rem;
    }
}