/* site fonts */
$headingFont: "Josefin Sans";
$bodyFont: "Barlow";
/* if we set our root element font-size to 125%, then 1 rem = 20px */
$baseFontSize: 1rem;

/* site colours */
$yellow: #FFD300; 
$white: #FFFFFF; 
$offBlack: #171B0E;
$green: #2B331B; 
$black: #0F0F0F;

/* Original site colours */
// $yellow: #FFD300; 
// $white: #FFFFFF; 
// $offBlack: #171B0E;
// $green: #2B331B; 
// $black: #0F0F0F;
